.container {
  margin-top: 80px;
  background-color: rgb(224, 224, 224);
}

.moviesGridCart {
  display: block;
  padding: 20px;
  justify-content: center; /*poner todo el contenido centrado*/
}

.emptyCart{
  font-size: 40px;
  text-align: center;
  margin-top: 250px;
  list-style: none;
}

.link{
  color:white;
  font-family: cursive;
}

.emptyCart :hover{
  color:rgb(0, 31, 133);
}

.checkOutInformation{
  text-align: right;
  color: black;
  padding-right: 60px;
  font-size: 30px;
}

.buttonCheckout {
  background-color: transparent;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 83%;
  margin-bottom: 15px;
  width: 190px;
  height: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #2c99ff;
  border-radius: 4px;
  color: rgb(0, 0, 0);
}

.buttonCheckout:hover {
  background-color: #2c99ff;;
  color: white;
}