.navBarMenu {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: black;
}


.navBarMenu ul {
  display: flex;
  gap: 2rem;
  margin: 0;
  list-style: none;
  align-items: center;
}

.navBarMenu a {
  font-size: 15px;  
  color: white;
  -webkit-filter: brightness(100%);
}

.navBarMenu li:hover {
  -webkit-filter: brightness(40%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
